This is a blacklist that tells Docker to ignore the following files when moving files into the container.

This can prevent sensitive information from being leaked and also speed up the build process.

Virtual environments (absolutely should not be included, the container has its own clean environment)

venv/
env/
.venv/

Sensitive information files (these are dynamically injected by docker-compose through env_file)

.env

Cache and Git history

pycache/
*.pyc
.git/
.gitignore
