# when actually run the project locally, please change file name to ".env".
ENV = (Webhook/Polling)
WEBHOOK_URL = real AWS URL
TG_BOT_TOKEN = real_telegram_token
OPENAI_API_KEY = real_ai_apiKey
DATABASE_URL = real_supabase URL